/*  John Napier - napierjohn@gmail.com
    May 2018
    Code Louisville FrontEnd Project
    
    Project: Valuation
    
    Custom CSS to support Index.html

    Written by hand without helper tools /framework.  Some snippets used after modification.

*/

/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    position:relative;
	line-height: 1;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	cursor: default;
	background-color:darkkhaki;
    /*display:flex;
    flex-direction:column;*/    
    height:100vh;

}

p {
	font-size: 1.2em;
	margin-bottom: 1em;
}
h1 {

}
h2 {
 
}


h3 {

}

h4 {
    color:white;
}

h5 {
    color:white;
}

a {
    text-decoration: none;

}
a:link {
    color:white;
}

a:link, a:active, a:visited {
    box-shadow: none;
    top: 1px;
}
a:hover {text-decoration:underline; cursor: pointer; }

.banner {
    width:100vw;
    padding: 1px 2px 1px 8px;
    object-fit:cover;
	object-position:center;
    background-color:blue;
    color: black;
}

header h1 {
    font-size:small;
    padding: 0px;
}
header h1:after {
    color:white;
    font:small-caps;
    font-size:smaller;
    content:"⚜️";
}
/* =================================
  Navigation
==================================== */

/* dropdown for small screen navigation*/
.dropdown {
    position:absolute;
    /*display: block;*/
    left: 5px;
    top: 35px;
   /* visibility: initial;*/
}
 .dropbtn {
    background-color: black;
    color: white;
    border:none;
    font-size: 12px;   
	border-bottom:2px solid darkred;
    padding: 8px 3px 2px;
	margin: 2px 0 0px;
    /*position:absolute;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    left:5px;
    background-color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
        color: white;
        padding: 10px 8px;
        text-decoration: none;
        display: block;
        border-bottom: 2px solid darkred;

}

.dropdown-content a:hover {background-color: #333333;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {text-decoration:underline;}

/*  larger screen navigation bar */
.nav{
    display:none;
    position: absolute;
    top: 40px;
    z-index: 80;
    width:100%;
    line-height: 12px;

}  

ul.navList {

    width:100%;
    list-style:none;
}

.navList li{
    display:grid;

    right:25px;
	background-color: black;
	border-bottom:3px solid darkred;
    color:white;
    padding:1px;
	margin: 2px 0px 0px;
    text-transform: uppercase;
    text-align:center;
    min-width:15em;
    max-width:20em;
    width:20%;
}
.nav .searchbox {
    padding:8px;
    background-color: black;
	border-bottom:3px solid darkred;
 }


/* =======================
     Hero Background Image 
    ===================== */
.hero {
    /* Sizing */
    width: 100vw;
    height: 50vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background-image: url("../images/zip_map_DoM_2015.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	}
.hero {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.resizingDiv {

    width:50%;
}
.hero-inner {
    position:relative;

 

}
.hero .btn {
    /*button stays just right of center  */
   
   /* Positioning and sizing  */

    /* Padding and margins */
    padding: 4px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color:white;
    font-size:12px;
    text-decoration:none;

    /* Border styles */
    border: 3px solid black;
    border-radius: 5px;
    background-color:black;
}
/* 1st version of structured mainContent layout/  this one uses row and column classes.  Old method.
   
     Create three unequal columns that floats next to 
    each other conatined in .row        
.row {
    padding: 10px;
    background: #f1f1f1;
    border-radius: 4px;
}

.column {
    float: left;
}

.left {
    width: 15%;
    outline:1px solid blue;
}

.intro {
    width: 100%;
    float:right;
    outline:1px solid blue; 
}

.right {
    width: auto;
    outline:1px solid green;
}

/* Clear floats after the columns   
.row:after {
    content: "";
    display: table;
    clear: both;
}    */

/* 2nd version of structured mainContent layout
    This one uses flexbox techniques.         */

.mainContent{
    display:flex;
    flex-direction:column;
    margin:25px;
}

.row{
    display:flex;
    flex-flow:row wrap;

}
.row > * {
      flex: 1 100%;
}
.column {
    margin:10px;
}
.right, .intro, .left{
    padding:5px 5px;
}
.column.intro, .column.left{
    display:flex;
    flex-flow:row wrap;
    border-bottom: 1px solid khaki;
}

.column.left{
    text-justify:auto;
}

img#REworkerSVG{
    fill:#94d31b;
    align-self:flex-start;
    position:relative;
    width:50px; 
    height:50px;
    border:2px solid black;
    margin:5px;
}
.intro h1{
    display:flex;
    width:100%;
    justify-content:space-between;
}


/*=================================
    Popup for right column button
    -borrowed and adjusted to apply to this page.
  =================================*/

/* Popup container */
.popup {
    visibility:visible;
    position: relative;
    display: inline;
    cursor: pointer;
    border: 2px solid black;
    border-radius:4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height:64px;
   
}

/*  SVG button for pop-up*/
span.calcImgButton {
    background: url(../images/calculating-device.svg) no-repeat center;
    background-size: cover;
    cursor: pointer;
    display:block;
    position:center;
    height: 54px;
    width: 40px;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle to hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Fade in the popup */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* =======================
     Multi-Family Tab Set 
    ====================== */

/* tab style */
.tabTrulia{
}

.tabTrulia h3 {
    font-size:16px;
    padding: 0 0 0 16px;
}
.tab {

    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    border-radius:5px;
    border: 2px solid black;
    padding:8px;
    margin: 0 0 0 16px;

}
button .tablinks{
    align-content:space-between;
    border:1px solid black;
    border-radius:5px;
}

/* tab button style */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 16px;
    transition: 0.4s;
    font-size: 16px;
}

/* button action */
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 3px 12px;
    -webkit-animation: fadeEffect 1.5s;
    animation: fadeEffect 1.5s;
}
.tabcontent p{
    display:inline-block;
    font-size:larger;
    vertical-align:top;
}

/* tab fade effect */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*  image parameters */
.tabcontent .tabimage {
    width: 100%;
    max-width: 500px;
    height: auto;
    border:3px solid #ccc;
}








/* =====================
     Footer 
    ====================*/


footer{
    margin:10px 10px 10px 26px;
    padding-left:16px;
}


/* =================================
  Media Queries
==================================== */

/* Tablet+ Media query
    -Nav Menu expands to block
    -'Nav Menu' text disapears
    - icon appears
                                */
@media (min-width: 376px),
        (max-width:700) and (orientation:landscape){
    .dropdown {
        display: none;
    }
    .banner {
   }
    .banner h1 {
        font-size:medium;
    }
    header h1:after {
        content: "⚜️";
    }
   
    .nav {
        display:block;
    } 
    
    .navList li {
        min-height:29px;

    }
    .tabcontent img {
        height:300px;
        width:400px;
    }

    .left, .right {
        flex: 1 175px
    }
}

/* Bigger Tablet+ Media query
    - banner change
    - right and left columns re-align
                            */
@media only screen and (min-width: 440px)  {
    .banner h1 {
        font-size: large;
    }

    header h1:after {
        content: 'REI One Source';
    }
    .intro p {
	    font-size: 1.5em;
    }

    
    .column.left{
    border-right:1px solid khaki;
    border-bottom:none; 
    }
}
/* Laptop+ Media query
    - Nav Menu adjusts 
    - Banner change
    - maincontent columns re-align
                            */
@media (min-width: 769px) {

    .banner h1 {
        font-size:x-large;
        padding:0;
    }
    .banner h1:after {
        content:'Real Estate Investor One Resource';
        font-size:large;
   }

    .nav {
        top:58px;
    }
    .navList li{
        font-size:small;
        padding: 6px ;
        min-height:39px;
    }
    .hero .btn {
        font-size:small;
    }
    .row {flex:2 auto}
    .left { flex:.5;  order: 1; }
    .intro { flex:3;  order: 2; }
    .right{ flex:1;  order: 3; }

    .column.intro {
        border-bottom: none;
        border-right: 1px solid khaki;
    }
}

/* PC+ Media query
    -Nav Menu expands to inline 
 
                            */
@media (min-width: 1100px) {

    .navList{

    }
    .navList li{
        display:table-cell;
        vertical-align:top;
        margin:0;
        right:0;

    }
    ul.navList {
        display:table;
        margin:0;
        padding:0;
        align-content:space-between;
    }
}


/* ---- Float clearfix ---- */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
nav.clearfix {left: 3px; top: 53px;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


