/*  John Napier - napierjohn@gmail.com
    May 2018
    Code Louisville FrontEnd Project

*/

/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
    position:relative;
	line-height: 1;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	cursor: default;
	/*background:url(../images/zip_map_DoM_2015.png);*/
	color: #000;
}

p {
	font-size: .90em;
	margin-bottom: 1em;
}
h1 {

}
h2 {
    font-size:2em;
}


h3 {

}

h4 {

}

h5 {
}

a {
    text-decoration: none;

}

a:link, a:active, a:visited {
    box-shadow: none;
    top: 1px;
}
a:hover {text-decoration:underline; cursor: pointer; }

.banner {
 
    width:100vw;
    padding: 1px 2px 1px 8px;
    object-fit:cover;
	object-position:center;
    background-color:blue;
    color: black;
}

header h1 {
    font-size:small;
    padding: 0px;
}
header h1:after {
    color:white;
    font:small-caps;
    font-size:smaller;
    content:"⚜️";
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ----

nav{
    position: absolute;
    top: 1px;
    left: 4px;
    z-index: 80;
    width:20%;
    line-height: 12px;

}  

ul {
    display:none;
}
*/
.dropdown {
    position:absolute;
    /*display: block;*/
    left: 5px;
    top: 35px;
   /* visibility: initial;*/
}
 .dropbtn {
    background-color: black;
    color: white;
    border:none;
    font-size: 12px;   
	border-bottom:2px solid darkred;
    padding: 8px 3px 2px;
	margin: 2px 0 0px;
    /*position:absolute;*/

}

.dropdown-content {
    display: none;
    position: absolute;
    left:5px;
    background-color: black;

    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    border-bottom:2px solid darkred;
}

.dropdown-content a:hover {background-color: #333333;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {text-decoration:underline;}
    
nav {display:none;}

nav a {
    color:white;
}

nav h1 {
    padding: 2px;
    margin: 2px;
    text-align:left;

}

.navList {
    position:absolute;
    left: 5px; 
    top: 35px; 
    -webkit-padding-start: 10px;
    width:20%;

  
}

nav li{
	background-color: black;
	border-bottom:3px solid darkred;
    padding: 6px 3px 2px;
	margin: 2px 0 4px;
    position:relative;
    /*text-decoration:none;   -not needed*/
    text-transform: uppercase;
	display:block;
    text-align:center;
    min-width: 15em;
    
}
    

/*


*/

/*  ===== Photo Slide show: =====
		.picture-wrapper .text-slide:nth-of-type(5) {
		    animation: autoplay2 20s infinite -1s;
		}

		.text-slide {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
		}
*/

/* ===== Hero Background Image ===== */
.hero {
    /* Sizing */

    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background-image: url("../images/zip_map_DoM_2015.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	}
.hero {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero-inner {
    position:absolute;

    top:42px;

}
.hero .btn {
    /* Positioning and sizing */
    visibility:visible;
    display:inline;
    width:150px;
    background-color:blue;


    /* Padding and margins */
    padding: 4px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color:black;
    text-decoration:none;
    font-style:oblique;
    font-size:16px;


    /* Border styles */
    border: 3px solid black;
    border-radius: 20px;
}


/* ===== Flex Container Demo =====  */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li {
  background: gold;
}

.wrap-reverse         {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.wrap-reverse li {
  background: deepskyblue;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;

  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

/* ===== Footer =======*/

.main-footer {
}/*   Tabbed Display:none to block */

.tab div{
    position:relative;
    display:none;
    color:black;
    background-color:lightslategrey;
}

.tab div:target {
    display: block;
    color:red;
    font:medium;
    padding: 5px;
    background-color:darkgoldenrod;
}
 section#choosetab {
    border-bottom:6px solid gold;
    font:larger;
    height:5em;


}
#choosetab a{
    background-color:gold;
}















/* =================================
  Media Queries
==================================== */

/* Tablet+ Media query
    -Nav Menu expands to block
    -'Nav Menu' text disapears
    - 
*/
@media (min-width: 376px) {
    .dropdown {
        display: none;
    }
    .banner h1 {
        font-size:medium;
    }
    header h1:after {
        content: "⚜️";
    }
    nav {
        display: block;
    }
}

/* Bigger Tablet+ Media query*/
@media (min-width: 440px) {

    header h1:after {
        content: 'REI One Source';
    }
      
/* Laptop+ Media query
    -Nav Menu expands to inline  */
@media (min-width: 769px) {
    header h1:after {
        content:'RE Investor One Resource';
   }  

    .navList {
        display:inline-block;
        width:100%;
        position:absolute;
        left:0;
        border:0;  
        margin:0;
    }
    #navList {
        width: 100%;
        float: left;
        margin: 0 0 0 0;
     
        list-style: none;
        background-color: #f2f2f2;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    
    }
    #navList li {
        /*display:inline-block;  */
        float: left;
    }
    ul.#navList.navList {
        margin:0;
        padding:0;
        border:0;
    }
    #navDiv {

    }
}

}





/* ---- Float clearfix ---- */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
nav.clearfix {left: 3px; top: 53px;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


