

/*  John Napier - napierjohn@gmail.com
    May 2018
    Code Louisville FrontEnd Project

    Jefferson Country Real Estate Research Tools

    Custome CSS to compliment Bootstrap
*/ 

/*      -- Header CSS --*/
body {
    position:relative;
	line-height: 1.1;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	cursor: default;
	background-color:darkkhaki;
	color: #000;
    box-sizing: border-box;
}
.banner {
    
    padding-right: 0;
    padding-left: 0;
}

ul.navbar-nav {
    border-bottom: 4px solid darkred;
    white-space:nowrap;
    font-size:small;
}



.navbar .searchbox{
   display:none; 
    
}

li.nav-item:hover {
    text-decoration:underline;
}

.dropdown .magnifyicon {
    display:inline-block;
}
h2 {font-size:1rem;} /*1rem = 16px*/


/* ===== Hero Background Image- Bootstrap ===== */


.bgimage {
  width:100%;
  height:500px;
  background: url('../images/zip_map_DoM_2015.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;

 

}


/* ===== Multi-Family Tab Set ===== */

.img-responsive {
    display:block;
    max-width:60%;
    height:auto;

}
.tab-content p {
    display: inline-block;
        font-size:larger;
    vertical-align:top;
}




/* =================================
  Media Queries
==================================== */
/*      Small devices (landscape phones, 576px and up)  */

@media (min-width: 568px) { 
    h2 {font-size:1.5rem;} 


/*      Medium devices (tablets, 768px and up)          */

@media (min-width: 768px) { 
    h2 {font-size:2rem;} 
    nav.navbar{
        padding:1px 10px;
        position:inherit;
        vertical-align: middle;
    }
}

/*      Large devices (desktops, 992px and up)          */
@media (min-width: 992px) { 
    .banner h2 {
        font-size:2.2rem;
    } 
    .navbar .magnifyicon {
        display:none;
    }
    .navbar .searchbox{
        display:inline-block; 
        
    }
}

/*      Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .banner h2 {font-size:2.5rem;} 
}